<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
  <test name="Test">
  
   <parameter name="browser" value="ff"/>
    <classes>
     
      <class name="packg.Cbtest"/>
        <class name="packg.Reg"/>
    </classes>
  </test> <!-- Test -->
<test name="chrome">

 <parameter name="browser" value="gg"/>

   <classes>
     <class name="packg.Cbtest"/>
       <class name="packg.Reg"/>
   </classes>
 </test> <!-- Test -->
  </suite> <!-- Suite -->